textarea{
    width: 70%;
    display: block;
    margin: auto;
    padding: 20px;
    height: 100px;
}
button{
    margin-left: 11rem;
}
h3{
    display: block;
    margin-left: 11rem;
}
div{
    display: block;
    width: 70%;
    margin: auto;
    height: 10rem;
    padding: 20px;
    border: 2px solid black;
}