body{
    margin: 0px;
}

textarea {
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
    height: 100px;
    background-color: rgb(236, 230, 241);
    margin-top: 25px;
}
.fontStyling{
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    font-style: oblique;
}

button {
   margin-left: 20rem;
   width: 20rem;
   height: 3.5rem;
   background-color:  rgb(255, 183, 89);

}

div{
    
    height: 6rem;
    width: 99%;
    background-color:  rgb(255, 183, 89);
    padding: 10px;
    
}

#outputText {
    display: block;
    width: 50%;
    margin: auto;
    height: 6rem;
    background-color: rgb(236, 230, 241);
    border: 1px solid black;
}
#footer{
    margin-top: 2rem;
}